<%- include("partials/header"); -%>

<style>
    .myBtn:hover{
        background-color: #C07F00;
    }
</style>

<form action="/advance/comToBotVisa" method="post">
    <div class="mb-3">
        <div style="padding-bottom: 5px;">
            <select name="typeName">
                <option value="common" selected>Common Name</option>
                <option value="botanical">Botanical Name</option>
            </select>
        </div>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type Here" name="name">
    </div>
    <button type="submit" class="btn myBtn">Submit</button>
</form>


<div style="display: <%= display%>;">
    <%if(display === "block"){%>
        <% if(typeName === "botanical") {%>
            <h2>Common Name is <%= result.recordset[0]['common']%></h2>
        <%} else {%>
            <h2>Botanical Name is <%= result.recordset[0]['botanical']%></h2>
        <%}%>
    <%}%>
</div>


<%- include("partials/footer"); -%>
